.megamenu {
  display: flex;
  align-items: center;
}

.megamenu__submenu {
  background-color: white;
  display: none;
}

.megamenu > li > button,
.megamenu > li > a {
  padding: 0.75rem 1rem;
}

.megamenu > li > .megamenu__submenu {
  position: absolute;
  top: calc(100%);
  left: 0;
  width: 100%;
  min-height: 50vh;
  padding: 1rem 0;
  box-shadow: 0px 17px 22px -13px rgba(0, 0, 0, 0.66);
}

.megamenu ul {
  position: relative;
  width: fit-content;
  display: grid;
  gap: 0.5rem;  
  padding-left: 1rem;
}

.megamenu li:has(*:hover) > .megamenu__submenu,
.megamenu li:focus-within > .megamenu__submenu {
  display: block;
}

.megamenu li:has(*:hover) > button,
.megamenu li:focus-within > button,
.megamenu a:hover,
.megamenu a:focus {
  text-decoration: underline;
}

.megamenu__submenu .megamenu__submenu {
  position: absolute;
  top: 0;
  left: 100%;
}
